@font-face
{
	font-family: 'FiraSansCondensed-Book';
	src: url(../fonts/FiraSansCondensed-Book.otf);
}

@font-face
{
	font-family: 'FiraSansCondensed-SemiBold';
	src: url(../fonts/FiraSansCondensed-SemiBold.otf);
}

@font-face
{
	font-family: 'IrbyWF';
	src: url(../fonts/IrbyWF.otf);
}

@font-face
{
	font-family: 'CMU Typewriter Text Bold';
	src: url(../fonts/cmuntb.ttf);
}

@font-face
{
	font-family: 'CMU Typewriter Text Variable Width';
	src: url(../fonts/cmunvt.ttf);
}

html 
{ 
	height: 100%;
}

body
{
	padding-top: 20px;
	height: 100%;
	cursor: default;
	font-family: 'CMU Typewriter Text Variable Width', sans-serif;
}

body.main-menu
{
	background: url(../images/background_default.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.in-game
{
	background: none!important;
	background-color: transparent!important;
}

body, h1, h2, h3, h4, p
{
	color: #f1eee2;
}

h1, h2, h3
{
	font-family: 'IrbyWF', sans-serif;
}

h4, h5
{
	font-family: 'CMU Typewriter Text Bold';
	text-transform: uppercase;
}

h5, .header-detail
{
	color: #a5a5a5;
}

.header-detail
{
	font-family: 'CMU Typewriter Text Bold';
	text-transform: uppercase;
	font-size: 16px;
}

p
{
	font-family: 'CMU Typewriter Text Variable Width', monospace;
}

table.table th
{
	font-family: 'CMU Typewriter Text Bold', monospace;
	font-size: 16px;
}

/*-----------------------------------------------------------------------------------*/
/*	02: INTRO PAGE
/*-----------------------------------------------------------------------------------*/	

/**** CENTER FRONT CONTENT ****/
.content {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	left: 1%;
	right: 1%;
	z-index: 1;
	text-align:center;
}

.early-access {
	color: #C14343;
	margin: 0px auto;
	margin-left: -150px;
	text-align: center;
	color: #C14343;
	font-size: 14px;
	cursor: default;
}

.build-info {
	position: fixed;
	left: 50%;
	bottom: 5px;
	text-align: center;
	color: #C14343;
	width: 300px;
	margin-left: -150px;
}

/**** LOGO ****/
.logo 
{ 
	margin: 6px auto 40px;
	width: 600px; 
}

/**** Small logo ****/
.logo-wrapper
{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}

.logo-small
{ 
	width: 400px; 
	padding-bottom:30px;
}

/**** MAIN MENU LINKS ****/
.links-primary {
	width: 500px;
	list-style: none;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
}
.links-primary li {
	text-align: center;
	display: block;
	margin-bottom: 10px;
	width: 500px;
}
.links-primary a {
	position:relative;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 4px;
	padding: 5px;
	margin: 0px 5px;
	color: #241a14;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
	outline: none;
	text-decoration: none;
	width: 450px;
	display: inline-block;
	font-family: 'IrbyWF', sans-serif;
}
.links-primary a:hover, .links-primary a:focus, button.btn-action {
	background: none;
	background-image: url('../images/ui_selectshape.svg');
	background-size: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	color: #f1eee2;
}

button.btn {
	font-family: 'IrbyWF', sans-serif;
	font-size: 20px;
}

button.btn-action {
	width: 100px;
}

.size { font-size: 13px; }

@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot');src:url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff') format('woff'),url('../fonts/fontawesome-webfont.ttf') format('truetype'),url('../fonts/fontawesome-webfont.svg') format('svg');font-weight:normal;font-style:normal}
.fa{display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.fa-dot-circle-o:before{content:"\f192"}
.fa-times:before { content: "\f00d"; }
.fa-chevron-down:before { content: "\f078"; }
.fa-chevron-up:before { content: "\f077"; }

a.panel-button { color: #888888; font-size: 20px; }
a.panel-button:hover { text-decoration: none; }

/* Options tabs */
.nav-tabs {
	border-bottom: 2px solid #222222;
}

.nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
	background-color: #222222;
}

.btn-primary, .btn-primary:focus, .btn-primary.focus, .btn-primary:hover, .btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary ,.btn-primary:active:hover,.btn-primary.active:hover,.open>.dropdown-toggle.btn-primary:hover,.btn-primary:active:focus,.btn-primary.active:focus,.open>.dropdown-toggle.btn-primary:focus,.btn-primary:active.focus,.btn-primary.active.focus,.open>.dropdown-toggle.btn-primary.focus{
	background-color: #7a8872;
	border-color: #222222;
}

.btn-primary:focus, .btn-primary.focus
{
}

/* SLIDERS */
.form-control {
border: none;
background: none;
}


#container-navbar
{
	height: 150px;
}
.navbar-inverse
{
	background: none!important;
	border: none;
}
#navbar-brand
{
	margin-top: -20px;
}
#navbar-logo
{
	height: 320px;
	position: fixed;
	top: 100px;
	left: 500px;
}
#nav-main
{
	padding-top: 112px;
	padding-left: 140px;
	margin-top: -16px;
}
.navbar-nav li
{
	font-size: 170%;
}
.navbar-nav a
{
	color: #a39c92;
}
.slider-group input
{
	display: inline-block;
	max-width: 600px;
}
.radio-inactive, .radio-toggle input
{
	display: none;
}
.container-pad
{
	margin-top: 250px;
	margin-left: 500px;	
}
.container-main
{
	overflow-y: auto;
	height: 65%;
}
.toggle-group ul
{
	margin: 0px!important;
}
.navbar-default, .nav-pills a
{
	margin-top: 10px;
	background-color: transparent;
	border: none;
	text-transform: uppercase;
}
.navbar-default li
{
	margin-right: 20px;
}
.navbar-default li a
{
	padding-bottom: 5px;
	padding-left: 2px;
	padding-right: 2px;
}
.navbar-default a, .nav-pills a {
	font-family: 'IrbyWF', sans-serif;
}
.navbar-default a {
	font-size: 30px;
}
.nav-pills a {
	font-size: 22px;
}
.navbar-default li a:link, .navbar-default li a:visited, .navbar-default li.active a:link, .navbar-default li.active a:visited,
.nav-pills > li > a, .nav-pills > li > a:hover, .nav-pills > li > a:focus,
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus
{
	color: #f1eee2;
}
.navbar-default li.active, .nav-pills li.active
{
	border-bottom: 3px solid #f1eee2;
}
.nav-pills > li > a, .nav-pills > li > a:hover, .nav-pills > li > a:focus,
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background: none;
}
.nav-pills li, .nav-pills li a {
	padding: 0px;
	margin: 0px;
}
.nav-pills li {
	margin-right: 20px;
}
.panel-default, .panel-default .panel-heading {
	background-color: #444444;
}
.panel-default .panel-heading {
	border: none;
}
.panel-default {
	border-color: #3a3a3b;
	border-radius: 0px;
	-webkit-border-radius: 0px;
}
.panel-default .panel-body {
	margin-top: 0px;
	padding-top: 0px;
}

#party {
	position: fixed;
	bottom: 10px;
	left: 10px;
	border: 1px solid #939393;
	padding: 5px;
}

.party-members {
	list-style: none;
	margin: 0px;
	padding: 0px;
	height: 32px;
}

.party-members li {
	display: inline-block;
	width: 32px;
	height: 32px;
	border: 1px solid #736d62;
	margin: 0px;
	padding: 0px;
}

.party-members .party-empty {
	background-color: #8b8578;
}

#news {
	position: fixed;
	bottom: 0px;
	right: 10px;
	background-color: #232323;
	padding: 10px;
	padding-bottom: 15px;
	width: 400px;
}

#news h3 {
	margin: 0px;
	padding: 0px;
}

.heading-toggle {
	font-size: 24px;
}

.heading-toggle a, .heading-toggle a:hover {
	color: #f1eee2;
	text-decoration: none;
}